<!-- <ul class="list-group">
    <li class="list-group-item active" aria-current="true">An active item</li>
    <li class="list-group-item">A second item</li>
    <li class="list-group-item">A third item</li>
    <li class="list-group-item">A fourth item</li>
    <li class="list-group-item">And a fifth one</li>
  </ul> -->


  <div class="list-group">
    <button 
        *ngFor="let item of menuItems"
        [routerLink]="item.ruta"
        routerLinkActive="active"
        type="button" 
        class="list-group-item list-group-item-action" 
        aria-current="true"> {{ item.nombre }} </button>
    
  </div>